In [126]:
import pandas as pd
import os
colums=[5,6,9,10,11,12,13,14]
final=pd.DataFrame()
path = "C://Users//Dileep Sathya//OneDrive//Desktop//projects//stock price prediction//new_EQ_data"
dir_list = os.listdir(path)


for file in dir_list:
    df=pd.read_csv('new_EQ_data//'+file)


    # Specify the row and column to shift
    for cols in colums:
            column_index = cols  # Column B corresponds to index 1 (0-based index)
            start_row = 0  # Specify the row (5th row in 0-based index)
            shift_by = 1  # Specify the number of rows to shift down

            # Shift the specified cell and all cells below it down by the specified amount
            df.iloc[start_row + shift_by:, column_index] = df.iloc[start_row:-shift_by, column_index].values

            # Clear the original cell
            df.iloc[start_row, column_index] = None
    df=df.dropna()
    final=pd.concat([df,final],axis=0)

In [127]:
final.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover ₹,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
1,VEDL,EQ,06-Oct-2023,222.0,222.65,225.6,220.05,222.45,222.7,222.57,"1,01,55,103","2,26,01,90,251.40","91,043","34,69,827",34.17
2,VEDL,EQ,09-Oct-2023,222.7,219.95,224.1,220.85,218.7,218.95,222.41,"55,23,734","1,22,85,07,124.80","58,323","20,40,389",36.94
3,VEDL,EQ,10-Oct-2023,218.95,219.2,221.2,217.35,221.35,222.15,219.31,"51,42,409","1,12,77,82,258.75","54,451","23,10,657",44.93
4,VEDL,EQ,11-Oct-2023,222.15,222.4,224.0,218.65,227.2,227.65,220.94,"56,21,177","1,24,19,25,502.35","49,862","22,54,926",40.11
5,VEDL,EQ,12-Oct-2023,227.65,226.0,229.95,222.15,226.5,226.2,227.23,"1,22,16,514","2,77,60,16,366.25","79,147","51,76,449",42.37

### Remove extra spaces in column names

In [128]:
final.columns = final.columns.str.strip()

In [129]:
final=final.rename(columns={'Prev Close':'prev_close','High Price':'prev_High_Price','Low Price':'prev_Low_Price','Average Price':'prev_Average_Price','Total Traded Quantity':'prev_Total_Traded_Quantity','Turnover ₹':'prev_Turnover','Deliverable Qty':'prev_Deliverable_Qty','% Dly Qt to Traded Qty':'prev_Dly_Qt_to_Traded_Qty'})

In [130]:
final.head()

,Symbol,Series,Date,prev_close,Open Price,prev_High_Price,prev_Low_Price,Last Price,Close Price,prev_Average_Price,prev_Total_Traded_Quantity,prev_Turnover,No. of Trades,prev_Deliverable_Qty,prev_Dly_Qt_to_Traded_Qty
1,VEDL,EQ,06-Oct-2023,222.0,222.65,225.6,220.05,222.45,222.7,222.57,"1,01,55,103","2,26,01,90,251.40","91,043","34,69,827",34.17
2,VEDL,EQ,09-Oct-2023,222.7,219.95,224.1,220.85,218.7,218.95,222.41,"55,23,734","1,22,85,07,124.80","58,323","20,40,389",36.94
3,VEDL,EQ,10-Oct-2023,218.95,219.2,221.2,217.35,221.35,222.15,219.31,"51,42,409","1,12,77,82,258.75","54,451","23,10,657",44.93
4,VEDL,EQ,11-Oct-2023,222.15,222.4,224.0,218.65,227.2,227.65,220.94,"56,21,177","1,24,19,25,502.35","49,862","22,54,926",40.11
5,VEDL,EQ,12-Oct-2023,227.65,226.0,229.95,222.15,226.5,226.2,227.23,"1,22,16,514","2,77,60,16,366.25","79,147","51,76,449",42.37

In [131]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53397 entries, 1 to 250
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Symbol                      53397 non-null  object
 1   Series                      53397 non-null  object
 2   Date                        53397 non-null  object
 3   prev_close                  53397 non-null  object
 4   Open Price                  53397 non-null  object
 5   prev_High_Price             53397 non-null  object
 6   prev_Low_Price              53397 non-null  object
 7   Last Price                  53397 non-null  object
 8   Close Price                 53397 non-null  object
 9   prev_Average_Price          53397 non-null  object
 10  prev_Total_Traded_Quantity  53397 non-null  object
 11  prev_Turnover               53397 non-null  object
 12  No. of Trades               53397 non-null  object
 13  prev_Deliverable_Qty        53397 non-null  object
 14  prev_Dly_Qt_to_Traded_Qty   53397 non-null  float64
dtypes: float64(1), object(14)
memory usage: 6.5+ MB

In [132]:
final.columns

Index(['Symbol', 'Series', 'Date', 'prev_close', 'Open Price',
       'prev_High_Price', 'prev_Low_Price', 'Last Price', 'Close Price',
       'prev_Average_Price', 'prev_Total_Traded_Quantity', 'prev_Turnover',
       'No. of Trades', 'prev_Deliverable_Qty', 'prev_Dly_Qt_to_Traded_Qty'],
      dtype='object')

In [139]:
for col in final.columns:
    if col not in ['Symbol', 'Date', 'Series', 'prev_Dly_Qt_to_Traded_Qty']:
        if final[col].dtype == 'object':
            final[col] = final[col].apply(lambda x: str(x).replace(',', '') if isinstance(x, str) else x)

            final[col] = pd.to_numeric(final[col], errors='coerce')

In [140]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53397 entries, 1 to 250
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Symbol                      53397 non-null  object
 1   Series                      53397 non-null  object
 2   Date                        53397 non-null  object
 3   prev_close                  53397 non-null  float64
 4   Open Price                  53397 non-null  float64
 5   prev_High_Price             53397 non-null  float64
 6   prev_Low_Price              53397 non-null  float64
 7   Last Price                  53397 non-null  float64
 8   Close Price                 53397 non-null  float64
 9   prev_Average_Price          53397 non-null  float64
 10  prev_Total_Traded_Quantity  53397 non-null  int64
 11  prev_Turnover               53397 non-null  float64
 12  No. of Trades               53397 non-null  int64
 13  prev_Deliverable_Qty        53397 non-null  int64
 14  prev_Dly_Qt_to_Traded_Qty   53397 non-null  float64
dtypes: float64(9), int64(3), object(3)
memory usage: 6.5+ MB

In [143]:
final['gap']=final['Open Price']-final['prev_close']

In [144]:
final.head()

,Symbol,Series,Date,prev_close,Open Price,prev_High_Price,prev_Low_Price,Last Price,Close Price,prev_Average_Price,prev_Total_Traded_Quantity,prev_Turnover,No. of Trades,prev_Deliverable_Qty,prev_Dly_Qt_to_Traded_Qty,gap
1,VEDL,EQ,06-Oct-2023,222.00,222.65,225.60,220.05,222.45,222.70,222.57,10155103,2.260190e+09,91043,3469827,34.17,0.65
2,VEDL,EQ,09-Oct-2023,222.70,219.95,224.10,220.85,218.70,218.95,222.41,5523734,1.228507e+09,58323,2040389,36.94,-2.75
3,VEDL,EQ,10-Oct-2023,218.95,219.20,221.20,217.35,221.35,222.15,219.31,5142409,1.127782e+09,54451,2310657,44.93,0.25
4,VEDL,EQ,11-Oct-2023,222.15,222.40,224.00,218.65,227.20,227.65,220.94,5621177,1.241926e+09,49862,2254926,40.11,0.25
5,VEDL,EQ,12-Oct-2023,227.65,226.00,229.95,222.15,226.50,226.20,227.23,12216514,2.776016e+09,79147,5176449,42.37,-1.65