load data

make the data set so that only eq series will be there

In [6]:
import pandas as pd
import os
path = "C://Users//Dileep Sathya//OneDrive//Desktop//projects//stock price prediction//data"
dir_list = os.listdir(path)
for file in dir_list:

    df=pd.read_csv('data//'+file)
    #removing extra spaces in column names
    df.columns = df.columns.str.strip()
    df=df[df['Series'] =='EQ']
    df.to_csv('new_EQ_data//'+file,index=False)

 feature engineering

In [7]:
path2="C://Users//Dileep Sathya//OneDrive//Desktop//projects//stock price prediction//new_EQ_data"
dir_list_2=os.listdir(path2)
for file in dir_list_2:

    df2=pd.read_csv('new_EQ_data//'+file)
    for col in df2.columns:
        if col not in ['Symbol', 'Date', 'Series', 'prev_Dly_Qt_to_Traded_Qty']:
            if df2[col].dtype == 'object':
                df2[col] = df2[col].apply(lambda x: str(x).replace(',', '') if isinstance(x, str) else x)

                df2[col] = pd.to_numeric(df2[col], errors='coerce')

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Symbol                  249 non-null    object
 1   Series                  249 non-null    object
 2   Date                    249 non-null    object
 3   Prev Close              249 non-null    float64
 4   Open Price              249 non-null    float64
 5   High Price              249 non-null    float64
 6   Low Price               249 non-null    float64
 7   Last Price              249 non-null    float64
 8   Close Price             249 non-null    float64
 9   Average Price           249 non-null    float64
 10  Total Traded Quantity   249 non-null    int64
 11  Turnover ₹              249 non-null    float64
 12  No. of Trades           249 non-null    int64
 13  Deliverable Qty         249 non-null    int64
 14  % Dly Qt to Traded Qty  249 non-null    float64
dtypes: float64(9), int64(3), object(3)
memory usage: 29.3+ KB

In [10]:
df2.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover ₹,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,VEDL,EQ,05-Oct-2023,223.40,225.10,225.60,220.05,222.00,222.00,222.57,10155103,2.260190e+09,91043,3469827,34.17
1,VEDL,EQ,06-Oct-2023,222.00,222.65,224.10,220.85,222.45,222.70,222.41,5523734,1.228507e+09,58323,2040389,36.94
2,VEDL,EQ,09-Oct-2023,222.70,219.95,221.20,217.35,218.70,218.95,219.31,5142409,1.127782e+09,54451,2310657,44.93
3,VEDL,EQ,10-Oct-2023,218.95,219.20,224.00,218.65,221.35,222.15,220.94,5621177,1.241926e+09,49862,2254926,40.11
4,VEDL,EQ,11-Oct-2023,222.15,222.40,229.95,222.15,227.20,227.65,227.23,12216514,2.776016e+09,79147,5176449,42.37